@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(0, 212, 255, 1) 100%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header .logo {
    width: 230px;
    cursor: pointer;
    margin-bottom: 20px;
}

header .search-bar {
    width: 100%;
    max-width: 400px;
    height: 35px;
    margin-left: 10px;
    background: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 2px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}

header .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 3px 30px;
    font-size: 16px;
    color: #cac7ff;
}

header ::placeholder {
    color: #cac7ff;
}

header .search-bar button {
    font-size: 15px;
    color: #fff;
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    background: #58629b;
    cursor: pointer;
}

header .search-bar button:hover {
    background: #fff;
    color: #2b1055;
}

header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu li {
    list-style: none;
    margin-left: 60px;
}

header .menu li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s ease;
}

header .menu li a:hover,
header .menu li a:active {
    background: #fff;
    color: #2b1055;

}

header .toggle_btn {
    display: none;
    position: absolute;
    color: #fff;
    padding: 6px 15px;
    font-size: 20px;
    top: 50px;
    right: 30px;
    width: 35px;
}

header .menu.moblie-menu {
    margin-left: 0;

}

main {
    padding: 20px 0px;
    margin-top: 100px;
    margin-bottom: 5px;
}

main section {
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

main .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 600px;
}

main .head {
    padding: 10px 15px;
}

main .work-status {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

main .work-status .content1 {
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0px 5px;
    font-weight: 700;
    font-size: 16px;
    color: #52FF00;
}


main .work-status .content2 {
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0px 5px;
    font-weight: 700;
    font-size: 16px;
    color: #FF0000;
}

main .work-status .content3 {
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0px 5px;
    font-weight: 700;
    font-size: 16px;
    color: #FFC700;
}

main .child {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px) saturate(120%);
    width: 600px;
    height: 700px;
}

main .child1 {
    text-transform: uppercase;
    align-self: center;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(4px) saturate(120%);
    width: 250px;
    height: 500px;
}

main .container .item-1,
.item-2,
.item-3 h4 {
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
}

main table {
    margin-left: auto;
    margin-right: auto;
}

main table td {
    border-collapse: collapse;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
}

main .container-status {
    width: 300px;
    height: 500px;
}

main .icons {
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(4px) saturate(120%);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 170px;
}

main .lift-icons {
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(4px) saturate(120%);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 240px;
}

main .fa-caret-up {
    color: #ff8a00;
    font-size: 35px;
    padding: 2px 30px;
    width: 20px;
    float: left;
    clear: both;
}

main .icon-going_up h3 {
    font-size: 18px;
    padding-top: 5px;
}

main .fa-caret-down {
    color: #ff8a00;
    font-size: 35px;
    padding: 2px 30px;
    width: 20px;
    float: left;
    clear: both;
}

main .icon-going_down h3 {
    font-size: 18px;
    padding-top: 19px;
}

main .fa-up-long {
    color: #ff8a00;
    font-size: 25px;
    padding: 10px;
    padding-left: 33px;
    padding-right: 30px;
    width: 20px;
    float: left;
    clear: both;
}

main .icon-up h3 {
    font-size: 18px;
    padding-top: 20px;
}

main .fa-down-long {
    color: #ff8a00;
    font-size: 25px;
    padding: 10px;
    padding-left: 33px;
    padding-right: 30px;
    width: 20px;
    float: left;
    clear: both;
}

main .icon-down h3 {
    font-size: 18px;
    padding-top: 20px;
}

main .icon-closed img {
    height: 40px;
    width: 50px;
    float: left;
    clear: both;
    padding: 10px 15px;
}

main .icon-closed h3 {
    font-size: 18px;
    padding-top: 20px;
}

main .icon-opened img {
    height: 40px;
    width: 50px;
    float: left;
    clear: both;
    padding: 10px 15px;
}

main .icon-opened h3 {
    font-size: 18px;
    padding-top: 35px;
}

main .icon-closing img {
    height: 40px;
    width: 50px;
    float: left;
    clear: both;
    padding: 10px 15px;
}

main .icon-closing h3 {
    font-size: 18px;
    padding-top: 40px;
}

main .icon-opening img {
    height: 40px;
    width: 50px;
    float: left;
    clear: both;
    padding: 10px 15px;
}

main .icon-opening h3 {
    font-size: 18px;
    padding-top: 35px;
}








@media screen and (max-width: 700px) {
    header {
        padding: 0;
    }

    header .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }

    header .search-bar {
        display: none;
    }

    header .toggle_btn {
        display: block;
    }

    header .menu {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        flex-direction: column;
    }

    header .menu li {
        margin: 25px 0px;
        font-size: 1.2em;
    }
}